<div class="hero-unit">
  <h2>Hola! I am Anuprit</h2>
  <p>My name is Anuprit Kale and you're visiting my personal website. 
  Currently, I live in the amazing city of San Francisco. 
  </p>
  <p>
  I am a super thin and super tall computer engineer who loves programming. If I get time from coding I like to hangout with friends, spend time with family and listen to music. I am fearless and love, love taking chances. I graduated from College Of Engineering, Pune in 2009. I quit my corporate job in 2011 and went down to Chile to join GymPact in its early stages. I enjoy solving problems a lot more than anything else. I am working on www.mydummyserver.com to create a stubbing framework which helps developers work efficiently.</p>
  <p>
    One of my favorite quotes these days - We're fixing it all in this generation!
  </p>


</div>

    <div class="row">
      <div class="span0.5"> </div>
      <div class="span4">
      	<ul class="media-list">
		  <li class="media">
		    <!--div class="media-body">
		      <h4 class="media-heading">Research</h4>
		      I am working on compiler optimization.
		 	</div><br />
		 	<div class="media-body">
		      <h4 class="media-heading">Research</h4>
		      I am working on compiler optimization.
		 	</div><br />
		 	<div class="media-body">
		      <h4 class="media-heading">Research</h4>
		      I am working on compiler optimization.
		 	</div-->
		  </li>
		</ul>
	  </div>
      <div class="span4">
      		<!--div class="media-body">
		      <h4 class="media-heading">Research</h4>
		      I am working on compiler optimization.
		 	</div><br />
		 	<div class="media-body">
		      <h4 class="media-heading">Research</h4>
		      I am working on compiler optimization.
		 	</div><br />
		 	<div class="media-body">
		      <h4 class="media-heading">Research</h4>
		      I am working on compiler optimization.
		 	</div-->
      </div>
    </div>
