<h4>Work Experience and Educational Qualifications </h4>
<li>Founding Engineer, Lead Developer, July 2011 - Current</li>


<li>Software Engineer, Avaya India. SMEC GCS, Research and Development Applications – August 2009 – June 2011</li>
<li>Intern, NVIDIA Graphics Private Limited, Pune – August 2008 - May 2009</li>
<li>Bachelor of Technology (IT), College Of Engineering, Pune.</li><br>

<h4>Software/Launguages</h4>
<li>Recent stack - RoR, MySql, Heroku</li>
<li>Past work in: Java, C, NVIDIA’s CUDA, C# .net, HTML/CSS, VBScript, Google Web Toolkit, Google AppEngine</li><br>

<h4>Achievements</h4>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>